<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset here</title>
    
</head>
<style>
  body{
    background-color: rgb(233, 227, 227);
    font-size: 18px;
  }
  .containter{
    margin-left:50px ;
   padding: 100px;
  }
  .card{
    
    margin : 90px auto;
            width:20%;
    background-color: darkkhaki;
    text-align: center;
    text-transform: uppercase;
   align-content: center;
    
    align-content: center;
    padding: 150px;
  }
</style>
<body>
  {% block content %}
  <div class="container">
    <div class="card">
      
        <h4>Reset your password</h4>
            <form  method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <button  type="submit" >Reset</button>
            </form>
      </div>
   
 </div>
{% endblock %}
</body>

</html>